<h1>Listing Pins</h1>
<p id="notice"><%= notice %></p>
  <div id="container" class="js-masonry">
    <br>
        <% @pins.each do |pin| %>
          <div class="item" style="width:25%">
            <div class="thumbnail">
            <%= pin.description %>    
              <%= image_tag(pin.photo, :style=> 'img-responsive') %>
              <div class="buttons", style="margin-top: 10px; margin-bottom:10px">
                <%= link_to 'Show', pin, :class=>'btn-link' %>
                <%= link_to 'Edit', edit_pin_path(pin), :class=>'btn' %>
                <% if user_signed_in? %>
                <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
    <br>
    <% if user_signed_in? %>
      <%= link_to 'New Pin', new_pin_path, :style=>'color:white' %>
    <% end %>
</div>

<script type="text/javascript">
 var $container = $('#container');
  //initialize
$container.Masonry({
  columnWidth: 200
  item.selector: '.item'
});

// element argument can be a selector string
//   for an individual element
//var msnry = new Masonry( '.grid', {
  // options
//});
})
$(window).load(function(){
  var $container = $('#container');
  //initialize
$container.Masonry({
  columnWidth: 200
  item.selector: '.item'
});

// element argument can be a selector string
//   for an individual element
//var msnry = new Masonry( '.grid', {
  // options
//});
})
</script>